* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.continer {
  max-width: 1220px;
  margin: 0 auto;
}
header .continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}
button {
  padding: 6px 67px;
  border-radius: 12px;
  background-color: #fc004a;
  border: none;
  color: white;
}
.logo {
  align-items: center;
  display: flex;
  padding: 26px 0;
}
.img {
  display: flex;
  justify-content: center;
  margin: 63px 0;
  width: 100%;
}
.set {
  width: 235px;
  height: 391px;
  opacity: 1;
  top: 576px;
  left: 24px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 6px -4px #0000001a;
  box-shadow: 0px 10px 15px -3px #0000001a;
  margin: 43px 0;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin: 30px;
  justify-content: center;
}
.hero p {
  padding: 5px 10px;
}
footer {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 260px;
}
.pul {
  color: #fc004a;
}
.menu-btn {
  padding: 0;
  background-color: white;
  color: #fc004a;
  font-size: 26px;
  display: none;
}

@media (max-width: 768px) {
  .logo-img {
    display: none;
  }
  header {
    padding: 30px;
  }
  .katta-rasm {
    width: 100%;
  }
}

@media (max-width: 650px) {
  nav {
    display: none;
  }
  .menu-btn{
    display: block;
  }
  footer{
    flex-direction: column;
    gap: 20px;
  }
}
